@font-face {
  font-family: Cursed Timer ULiL;
  src: url(CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    font-family: Verdana, sans-serif;  
    background: #111827;                                           
}

h3{
    font-weight: 700;
    font-size: 40px;
}

.container {
    
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    background: #0369A1;
    color: #EEEEEE;
    text-align: center;
    width: 575px;
    height: 385px; 
    border-radius: 20px; 
}

.score-box{
    font-family: 'Cursed Timer ULiL';
    background: black;
    color: #F94F6D;
    width: 155px;
    height: 120px;
    border-radius: 5px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-buttons{
    margin-top: 26px;
}

.score-buttons > button {
    font-family: 'Cursed Timer ULiL';
    width: 45px;
    height: 45px;
    color: #E0F2FE;
    border: 3px solid #E0F2FE;
    border-radius: 5px;
    background: inherit;
}